*{
  color: #fff;
}
.sidenav{
  background: rgba(199,190,255,0.25);
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.logo-container{
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0;
  width: 100%;
}
.logo{
  text-align: center;
  width: 4.16rem;
  min-width: 4.16rem;
  border-radius: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  margin-left: 0.5rem;
  background: transparent;

}
.logo-desc{
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
}
.logo-text{
  font-size:22px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.logo-status{

  font-size:16px;
  font-weight: 500;
  color: #fffff14d;
  white-space: nowrap;
  overflow: hidden;
}
.logo-setting{
  margin-left: auto;
  margin-right: 1rem;
  cursor:pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.sidenav-collapsed{
  width: 22.9166rem;
}

.sidenav-nav{
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 10rem);
}
.sidenav-nav-item{
  width: 100%;
  margin-bottom: 1rem;
}
.sidenav-nav-link{
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  margin: 0rem 0.5rem;
  border-radius: 0.625rem;
  transition: all .3s ease;
}
.sidenav-link-icon{
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-right:1rem;

}
.sidenav-link-text{
  margin-left: 1.5rem;
}

.sidenav-exit{
  width: 3rem;
  height: 3rem;
  margin-left:calc(50% - 1.5rem) ;
  background: transparent;
}
.logo-setting:hover{
  background-color: rgb(255, 255, 255,0.5);
}

.sidenav-nav-item:hover{
  .sidenav-nav-link{
    background-color: rgba(70,55,161,1);
  }
}

.active{
  background-color: rgba(70,55,161,1);
}

@media (max-width: 768px){
  .sidenav-collapsed{
    width: 100%;
  }
}
